/* Catppuccin-inspired color palette */
$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;

Screen {
    layout: grid;
    grid-size: 1;
    grid-gutter: 1 1;
    padding: 1;
}

#graphs {
    height: 60%;
    layout: grid;
    grid-size: 1 3;
    grid-gutter: 1 1;
}

UsageGraph {
    height: 100%;
    border: solid $green;
}

#bars {
    height: 40%;
    layout: grid;
    grid-size: 1 4;
    grid-gutter: 1 1;
    align: center middle;
}

#bars > Static {
    width: 100%;
    height: 100%;
}

/* Header {
    background: $maroon;
    color: $rosewater;
    height: 3;
}

Footer {
    background: $maroon;
    color: $rosewater;
    height: 3;
} */